@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


body{
	background-color: #3E1F92;
}

header{
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1{
	font-size: 40px;
	color: #fff;
	font-family: 'Allerta', sans-serif;
}


p{
	font-size: 20px;
	font-family: 'Alata', sans-serif; 
}

h2{
	font-size: 30px;
	font-family: 'Allerta', sans-serif;
}

header p{
	color: #fff;
	opacity: 30%;
	
}

section{
	color: #fff;
	width: 70vh;
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}


#info{
	opacity: 30%;
}


#section_haut{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 3vh;

}

#section_image{
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#tel{
	width: 6vh;
	height: 6vh;
}

#mail{
	width: 5vh;
	height: 4vh;
	margin-left: 0.8vh;
}
#pin{
	width: 6vh;
	height: 6vh;
	margin-left: 0.4vh;
}

#section_p{
	width: 80%;
	height: 100%;
	margin-left: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#telhover,#mailhover, #pinhover{
	display: flex;
	margin-top: 5vh;
	width: 30vh;

}

#telhover:hover, #mailhover:hover, #pinhover:hover{
	background-color: #512B94 ;
	border-radius: 10px;
	border: 1px solid #FA949D;
}
.imagehover{
	height: 8vh;
	width: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imagehover:hover{
	background-color: #512B94 ;
	border-radius: 10vh;
	border: 1px solid #FA949D;
}

#mailp, #pinp, #telp{
	margin-left: 5vh;
}
#mail{
	margin-top: 1vh;
}

#footer{
	width: 50vh;
	height: 5vh;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	margin-top: 15vh;

}


main{
	display: flex;
}

form{
	background-color: #F5F5F5;
	width: 80vh;
	height: 70vh;
	margin-left: 25vh;
	margin-top: 6vh;
	border-radius: 20px;
}



.image{
	width: 3vh;
	height: 3vh;
}

#nom, #prenom, #mail, #tel{
	display: flex;

}

#form_top, #form_middle{
	display: flex;
	height: 25%;
}

#form_top{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#form_middle{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
input{
	border-radius: 1vh;
	height: 3vh;
	width: 21vh;
	background: rgba(128, 128, 128, 0.1);
	border: none;
	outline-color: #FA949D;
	padding-left: 10px;
}
textarea{
	border-radius: 1vh;
	height: 15vh;
	width: 62vh;
	background: rgba(128, 128, 128, 0.1);
	border: none;
	padding-left: 10px;
	padding-top: 10px;
	resize: none;
	outline-color: #FA949D;

}
#form_bottom{
	margin-left: 10vh;
	height: 30%;
}
#button{

	width: 20%;
	height: 50%;
	background-color: #FA949D;
	border-radius: 10px;
	margin-right: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

#form_footer{
	height: 18%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#pmail{
	margin-top:-0.1vh;
	margin-left: 2vh;
}
#image_nom{
	margin-top: 2vh;
	margin-right: 3vh;
}
#image_prenom{
	margin-top: 2vh;
	margin-right: 3vh;
}
#image_tel{
	margin-top: 2vh;
	margin-right: 3vh;
}

