@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


body{
	background-color: #3E1F92;
}

header{
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1{
	font-size: 40px;
	color: #fff;
	font-family: 'Allerta', sans-serif;
}


p{
	font-size: 20px;
	font-family: 'Alata', sans-serif; 
}

h2{
	font-size: 30px;
	font-family: 'Allerta', sans-serif;
}

header p{
	color: #fff;
	opacity: 30%;
	
}

section{
	color: #fff;
	width: 70vh;
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}


#info{
	opacity: 30%;
}


#section_haut{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}
#section_bas{
	width: 40vh;
	height: 30vh;
	display: flex;
}
#section_image{
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#tel{
	width: 6vh;
	height: 6vh;
}

#mail{
	width: 5vh;
	height: 4vh;
	margin-left: 0.8vh;
}
#pin{
	width: 6vh;
	height: 6vh;
	margin-left: 0.4vh;
}

#section_p{
	width: 75%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#footer{
	width: 50vh;
	height: 5vh;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	margin-left: 10vh;
	
}
